.bg-custom {
    background-image: linear-gradient(to left, #2a5414 0%, #6ba914 51%);
    border: none;
    color: white;
    padding: 8px 48px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
  }
  
  .bg-custom:hover {
    background-image: linear-gradient(to left, #1f3c0f 0%, #52830d 51%);
    color: white;
  }

.bg-active{
    background-color: transparent !important;
    transition: 0.3s;
    color: #85d318 !important;
}

  .navbar{
      width: 100%;
  }

  .link-navbar{
    color: black;
    transition: 0.3s;
  }

  .link-navbar:hover{
    color: #85d318;
  }